@import "bourbon/bourbon";
@import "neat/neat";
@import 'colours';


//HOMEPAGE STYLES

.homepage-container {
	@include outer-container;
	padding: 3% 0;
}

.homepage-container h2 {
	padding: 2%;
}

.boxes-container {
	max-width: 970px;
}

.main {
	background: $lightgrey;
}

.content {
	width: 100%;
}

.blog-title {
	font-size: 2rem;
	letter-spacing: 1px;
}

.main-photo-container {
	position: relative;
	display: inline-block;
	float: left;
}

.main-photo, .blog-photo {
	margin: 5px;
}

h2.main-title {
	margin-top: 0;
}

.main-title {
	color: $slategrey;
	position: absolute;
	top: 30px;
	left: 35px;
	font-size: 3rem;
	text-align: left;
	height: 300px;	
	border: none;
}

.main-title p {
	margin: 0;
	font-size: 2.5rem;
	color: $lightgrey;
	letter-spacing: 1px;
	padding-bottom: 20px;
	margin-top: 60%;
	width: 80%;
	border-bottom: 2px solid $teal;
}

.blog-link {
	display:block;
}

.blog-photo-container {
	position: relative;
	float: left;
	margin-bottom: 5px;
}

.blog-info {
	background: rgba(255, 255, 255, 0.8);
	display: none;
	position: absolute;
	top: 10px;
	left: 20px;
	bottom: 15px;
	right: 10px;
}

.blog-photo-container:hover .blog-info {
	display: block;
}

.blog-title {
	text-align: center;
	padding-top: 30%;
	font-size: 2rem;
	padding-bottom: 5%;
}

.blog-title a {
	color: $slategrey;
}

.blog-date {
	font-size: 1.2rem;
	font-family: 'Belleza', sans-serif;
	color: $slategrey;
	text-align: center;
	padding-top: 3%;
	margin: 0 10%;
	border-top: 2px solid $teal;
}